@model iforgot.Models.pwdReset  
@{
    ViewBag.Title = "Reset my Password";
}

<h1 class="title-login">@ViewBag.Title</h1>
<div class="main-box iforgot-box main-box-simple">

    <div class="nav-signup">
        <p>Muy bien, ahora solo crea tu nuevo password y estara todo listo! :D.</p>

        @using (Html.BeginForm("confirmedNewPass", "iforgot", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.pwdReset_selector, new { Type = "hidden", @Value = ViewBag.selector })
            @Html.TextBoxFor(m => m.pwdReset_token, new { Type = "hidden", @Value = ViewBag.validator })
            @Html.TextBoxFor(m => m.pwdReset_pwd, new { Style = "margin: auto; width:65%; border-radius: 8px 8px 0px 0px;", @Placeholder = "New Password" })
            @Html.TextBoxFor(m => m.pwdReset_pwdRepeat, new { Style = "margin: auto; width:65%; border-radius: 0px 0px 8px 8px; margin-bottom:6px;", @Placeholder = "Repeat new Password" })
            <button value="submit" style="margin: 2px auto 0px; width:65%;" type="submit" class="button red">Enviame mi email</button>

        }

    </div>
</div>