@model IEnumerable<iforgot.Models.pwdReset>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pwdReset_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pwdReset_selector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pwdReset_token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pwdReset_expires)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pwdReset_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pwdReset_selector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pwdReset_token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pwdReset_expires)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pwdReset_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.pwdReset_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pwdReset_id })
        </td>
    </tr>
}

</table>
